.slide-in-div {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  /* Start off-screen */
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.276);
  transition: all 1s ease; /* Smooth transition */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0 1em 1em 0;
  max-width: 300px;
}

.slide-in-div.active {
  left: 0; /* Slide in */
  transition: all 1s ease; /* Smooth transition */
}

@media only screen and (max-width: 768px) {
  .slide-in-div {
    top: unset;
    bottom: -100%;
    left: 50%;
    border-radius: 1em 1em 0 0;
    transform: translateX(-50%);
    transition: all 1s ease; /* Smooth transition */
    width: 75%;
    max-width: 90%;
    max-height: 50%;
    overflow: scroll;
  }

  .slide-in-div.active {
    bottom: 0; /* Slide in from the bottom */
    left: 50%;
    transition: all 1s ease; /* Smooth transition */
  }
}

.content.mobile{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: start;
  align-content: center;
  justify-items: center;
  text-align: center;
  padding: 0;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: space-between; /* Space out children vertically */
  overflow-y: visible;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.slide-in-div button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2.25em;
  font-family: "Indie Flower", cursive; /* The fun, whimsical font */
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.poi-title {
  margin-bottom: 0;
  margin-top: 0;
  color: black !important;
  text-align: center;
  font-family: "Indie Flower", cursive; /* The fun, whimsical font */
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
}
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

.poi-description {
  flex: 1;
  font-size: 1.3em;
  color: black;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 0;
  margin-bottom: 1em;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
  text-align: center;
}

/* Fade effect using a ::after pseudo-element */
.scroll-fade-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px; /* Height of the fade effect */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; /* Prevent the fade effect from blocking clicks */
}

.scroll-fade-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px; /* Height of the fade effect */
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none; /* Prevent the fade effect from blocking clicks */
}

.hidden {
  display: none;
}

.content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
.content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.103); /* Slightly transparent */
}

.content::-webkit-scrollbar-thumb {
  background: #adadad4e;
  border-radius: 6px;
}

.poi-extra-info {
  font-size: 0.9em;
  color: #666;
}

.poi-date {
  display: block; /* Or inline-block, depending on your design */
  text-align: left;
  font-style: italic;
  align-self: flex-start;
  font-weight: bolder;
  font-size: 0.8em;
  color: black !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-top: 10px;
}

.poi-day {
  display: block; /* Or inline-block, depending on your design */
  text-align: left;
  font-style: italic;
  align-self: flex-start;
  font-weight: bolder;
  font-size: 0.8em;
  padding-left: 10px;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
  margin-bottom: 0;
}

.poi-date.row {
  display: flex; /* Or inline-block, depending on your design */
  text-align: center;
  font-style: italic;
  align-self: center;
  font-weight: bolder;
  font-size: 0.8em;
  color: black !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-top: 0;
}

.poi-day.row {
  display: flex; /* Or inline-block, depending on your design */
  text-align: center;
  font-style: italic;
  align-self: center;
  font-weight: bolder;
  font-size: 0.8em;
  padding-left: 5px;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
  margin-bottom: 0;
}

.poi-tags {
  display: flex;
  flex-wrap: wrap; /* Allow pills to wrap to multiple lines */
  gap: 15px 15px; /* Space between lines */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 5px;
}

.poi-tags.row {
  display: flex;
  flex-wrap: wrap; /* Allow pills to wrap to multiple lines */
  gap: 10px 10px; /* Space between lines */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .poi-tags {
    max-width: 75%;
  }

  .poi-tags.row {
    max-width: 100%;
  }
}

.poi-tag {
  display: inline-block;
  font-family: "Fredoka", sans-serif;
  padding: .25em 1.5em; /* Adjust padding as needed */
  border-radius: 2em; /* Half of the height for a rounded shape */
  color: #fff; /* Example text color */
  box-shadow: 0 0 3.5px 0px rgba(0, 0, 0, 0.47); /* Example shadow */
  min-width: 25px;
  font-size: 0.95em;
  font-weight: 600;
  font-style: italic;
  text-shadow: -1px -1px 0 #000, /* top left shadow */ 1px -1px 0 #000,
  /* top right shadow */ -1px 1px 0 #000,
  /* bottom left shadow */ 1px 1px 0 #000; /* bottom right shadow */
  white-space: nowrap; /* Prevent text from wrapping */
  backdrop-filter: blur(2px); /* Slightly less blur for sharpness */
  -webkit-backdrop-filter: blur(2px); /* Fallback for Safari */
  /* Simplify border and shadow to align with classic video game aesthetics */
  border: 2px solid #ffee00; /* Gold border for a touch of vibrancy */
}
