.slide-in-div {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  /* Start off-screen */
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.276);
  transition: all 1s ease; /* Smooth transition */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0 1em 1em 0;
  max-width: 300px;
}

.slide-in-div.active {
  left: 0; /* Slide in */
  transition: all 1s ease; /* Smooth transition */
}

@media only screen and (max-width: 768px) {
  .slide-in-div {
    top: unset;
    bottom: -100%;
    left: 50%;
    border-radius: 1em 1em 0 0;
    transform: translateX(-50%);
    transition: all 1s ease; /* Smooth transition */
    width: 75%;
    max-width: 90%;
    max-height: 50%;
    overflow: scroll;
  }

  .slide-in-div.active {
    bottom: 0; /* Slide in from the bottom */
    left: 50%;
    transition: all 1s ease; /* Smooth transition */
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.slide-in-div button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2.25em;
  font-family: "Indie Flower", cursive; /* The fun, whimsical font */
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.poi-title {
  margin-bottom: 0;
  margin-top: 0;
  color: black !important;
  font-family: "Indie Flower", cursive; /* The fun, whimsical font */
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
}
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

.poi-description {
  flex: 1;
  font-size: 1.3em;
  color: black;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
  overflow-y: auto;
}

.poi-description::-webkit-scrollbar {
  width: 8px;
}
.poi-description::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.103); /* Slightly transparent */
}

.poi-description::-webkit-scrollbar-thumb {
  background: #adadad4e;
  border-radius: 6px;
}

.poi-description:hover::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

.poi-extra-info {
  font-size: 0.9em;
  color: #666;
}

.poi-date {
  display: block; /* Or inline-block, depending on your design */
  text-align: left;
  font-style: italic;
  align-self: flex-start;
  font-weight: bolder;
  font-size: 0.8em;
  color: black !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-top: 10px;
}

.poi-day {
  display: block; /* Or inline-block, depending on your design */
  text-align: left;
  font-style: italic;
  align-self: flex-start;
  font-weight: bolder;
  font-size: 0.8em;
  padding-left: 10px;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
  margin-bottom: 0;
}

.poi-date.row {
  display: flex; /* Or inline-block, depending on your design */
  text-align: center;
  font-style: italic;
  align-self: center;
  font-weight: bolder;
  font-size: 0.8em;
  color: black !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-top: 0;
}

.poi-day.row {
  display: flex; /* Or inline-block, depending on your design */
  text-align: center;
  font-style: italic;
  align-self: center;
  font-weight: bolder;
  font-size: 0.8em;
  padding-left: 5px;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
    /* top right shadow */ -1px 1px 0 #fff,
    /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
  margin-bottom: 0;
}

.poi-tags {
  display: flex;
  flex-wrap: wrap; /* Allow pills to wrap to multiple lines */
  gap: 5px; /* Space between lines */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 5px;
}

.poi-tags.row {
  display: flex;
  flex-wrap: wrap; /* Allow pills to wrap to multiple lines */
  gap: 0 !important; /* Space between lines */
  row-gap: 5px !important; /* Space between lines */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 80%;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .poi-tags {
    max-width: 75%;
  }

  .poi-tags.row {
    max-width: 100%;
  }
}

.poi-tag {
  display: inline-block;
  padding: 2.5px 12px; /* Adjust padding as needed */
  border-radius: 2em; /* Half of the height for a rounded shape */
  background-color: #f0f0f0; /* Example background color */
  color: #000; /* Example text color */
  min-width: 25px;
  margin: 0 2px;
  font-size: 0.8em;
  font-style: italic;
  border: 1px solid #000;
  text-shadow: -1px -1px 0 #fff, /* top left shadow */ 1px -1px 0 #fff,
  /* top right shadow */ -1px 1px 0 #fff,
  /* bottom left shadow */ 1px 1px 0 #fff; /* bottom right shadow */
}
