.LocationTitleWindow {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.377); /* Darker background for contrast */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Uniform padding */
  font-size: 11px; /* Smaller font size, typical of "Press Start 2P" */
  font-family: "Press Start 2P", cursive; /* Retro, video game-like font */
  color: #000000; /* White text for better readability */
  white-space: nowrap; /* Prevent text from wrapping */
  backdrop-filter: blur(5px); /* Slightly less blur for sharpness */
  -webkit-backdrop-filter: blur(5px); /* Fallback for Safari */
  /* Simplify border and shadow to align with classic video game aesthetics */
  border: 3px solid #ffd700; /* Gold border for a touch of vibrancy */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5); /* More subtle shadow */
}

.LocationIconWindow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Darker background for contrast */
  border-radius: 2px; /* Rounded corners */
  padding: 5px; /* Uniform padding */
  font-size: 8px; /* Smaller font size, typical of "Press Start 2P" */
  font-family: "Press Start 2P", cursive; /* Retro, video game-like font */
  color: #ffffff; /* White text for better readability */
  text-shadow: 0 0 3px #000; /* Black text shadow for a pop effect */
  white-space: nowrap; /* Prevent text from wrapping */
  backdrop-filter: blur(5px); /* Slightly less blur for sharpness */
  -webkit-backdrop-filter: blur(5px); /* Fallback for Safari */
  /* Simplify border and shadow to align with classic video game aesthetics */
  border: 3px solid #ffd700; /* Gold border for a touch of vibrancy */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* More subtle shadow */
  cursor: pointer;
}

.LocationInfoWindow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Darker background for contrast */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Uniform padding */
  font-size: 11px; /* Smaller font size, typical of "Press Start 2P" */
  font-family: "Press Start 2P", cursive; /* Retro, video game-like font */
  color: #ffffff; /* White text for better readability */
  text-shadow: 0 0 3px #000; /* Black text shadow for a pop effect */
  white-space: nowrap; /* Prevent text from wrapping */
  backdrop-filter: blur(5px); /* Slightly less blur for sharpness */
  -webkit-backdrop-filter: blur(5px); /* Fallback for Safari */
  /* Simplify border and shadow to align with classic video game aesthetics */
  border: 3px solid #ffd700; /* Gold border for a touch of vibrancy */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* More subtle shadow */
}
